[project]
	description = It Includes the following changes 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bharadwajturlapati
[access "refs/for/refs/*"]
	read = group user/bharadwajturlapati
	push = group user/bharadwajturlapati
	label-Code-Review = -2..+2 group user/bharadwajturlapati
	label-Verified = -1..+1 group user/bharadwajturlapati
	rebase = group user/bharadwajturlapati
	removeReviewer = group user/bharadwajturlapati
	submit = group user/bharadwajturlapati
[access "refs/heads/*"]
	read = group user/bharadwajturlapati
	create = group user/bharadwajturlapati
	push = +force group user/bharadwajturlapati
	pushMerge = group user/bharadwajturlapati
[access "refs/tags/*"]
	push = +force group user/bharadwajturlapati
	pushTag = group user/bharadwajturlapati
	pushSignedTag = group user/bharadwajturlapati
